/* Basic reset for margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #dcdcdc;
    background-color: #1e1e1e;
    line-height: 1.6;
}
/* Navbar styling */
.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-left h1 {
    color: #ffffff;
    font-size: 1.5rem;
}

.navbar-right ul, .navbar-right ul li {    
    margin: 0 10px;
    padding-top: 2px;
    padding-left: 0;
    display: flex;     
}

.navbar-right ul li a {
    color: #dcdcdc;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;      
}

.navbar-right ul li a:hover {
    color: #569cd6;
}

.navbar-right ul li a i {
    font-size: 1.5rem;
}


/* Layout and centering */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #252526;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: 20px; /* Prevent overlap with navbar */
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 3em;
    font-weight: 700;
    color: #d7e7f6;
}

header h2 {
    font-size: 1.5em;
    font-weight: 300;
    color: #569cd6;
}

section {
    margin-bottom: 40px;
}

section h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #d7e7f6;
}

section p, section ul {
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    color: #dcdcdc;
}

.container ul li a {   
    text-decoration: none;
    transition: color 0.3s;        
}

.container ul li a:hover {
    color: #569cd6;
}

.container ul li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #888;
}

/* About section layout */
.about-container {    
    overflow: hidden; 
    gap: 30px;  
    
}

/* Profile picture styling */
.profile-picture {
    
    width: 350px;
    height: 350px;
    border-radius: 50%;   
    padding: 5px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    float: right;
    shape-outside: circle();     
}

/* Skills section */
.skills span {
    display: inline-block;
    background: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
    font-size: 0.9em;
}

 /* Invites Table Styling */
 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #333;
    color: #569cd6;    
  }

  tr{
    border-bottom: 0.3px solid #b6d8f3;       
  }

  tr:nth-child(even) {
    background-color: #222;    
  }

/* Social section styling */
.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-btn {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 20px;
    background-color: #3a3d41;
    color: #dcdcdc;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.social-btn:hover {
    background-color: #569cd6; /* Hover color */
}

/* Footer and Contact button */
footer {
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 0.9em;
    color: #888;
}

a {
    color: #9cdcfe;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}